---
# tasks file for web
- name: Install Apache
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - httpd
    - php
    - php-mysql
  become: yes

- name: Start Apache
  service:
    name: httpd
    state: started
    enabled: yes
  become: yes

- name: Copy index.html file
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
  become: yes
  